#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.Wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.MainArea {
	margin-top: 40px;
	display: flex;
}

.Svg {
	width: 700px;
	height: 500px;
	border: 3px solid #fff;
	border-radius: 10px;
	background-color: #66a5ad;
	margin-right: 30px;
}

.Menu1 {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: 3px solid #fff;
	border-radius: 10px;
	background-color: #66a5ad;
	height: 480px;
	width: 300px;
}

.Input {
	width: 100px;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	margin-top: 15px;
	align-items: center;
}

.Input label {
	align-items: center;
}

.GridCell {
	stroke: #c4dfe6;
	stroke-width: 1;
	fill: none;
	stroke-dasharray: 2;
}

.AlgorithmButtons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.AlgorithmButton {
	padding: 8px 16px;
	background-color: #003b36;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.AlgorithmButton.active {
	background-color: #3b8d97;
	color: black;
}

.debugCheckbox {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.debugSettings {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
	gap: 25px;
}

button {
	margin: auto;
	margin-top: 10px;
}

.Buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-top: 125px;
	gap: 25px;
}

.Buttons button {
	width: 200px;
	height: 50px;
	color: white;
	font-size: 18px;
	border-radius: 10px;
}

.Run {
	background-color: #003b36;
}

.Step {
	background-color: #003b36;
}
