/* App.css */

.LabSelection label {
	font-weight: bold;
	margin-right: 10px;
	color: white;
	border-color: black;
	font-size: 30px;
	-webkit-text-stroke: 1.5px #000; /* Толщина и цвет обводки */
	text-stroke: 1.5px #000; /* Толщина и цвет обводки (стандартное свойство) */
}

.LabSelection button {
	background-color: #66a5ad;
	color: #fff;
	border: none;
	margin-right: 10px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	border: 2px solid black;
	border-radius: 10px;
	width: 100px;
}

.LabSelection button.selected {
	background-color: #3b8d97;
	color: #000;
}

.LabSelection button:hover {
	background-color: #3b8d97;
	color: #000;
}
